@font-face {
    font-family: AvenirNextLTProIt;
    src: url(./fonts/AvenirNextLTPro-It.otf);
}

@font-face {
    font-family: AvenirNextLTProRegular;
    src: url(./fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: AvenirNextLTProBold;
    src: url(./fonts/AvenirNextLTPro-Bold.otf);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --clr-light: #f2f2f2;
    --clr-light-100: #e8e8e8;
    --clr-light-200: #d2d2d2;
    --clr-light-300: #c2c2c2;
    --clr-light-400: #b2b2b2;
    --clr-light-500: #a2a2a2;
    --clr-black: #565656;
    --clr-black-100: #464646;
    --clr-black-200: #363636;
    --clr-black-300: #262626;
    --clr-black-400: #161616;
    --clr-black-500: #000000;
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    line-height: 1.65;
    text-align: left;
    color: var(--clr-black-300);
    background: rgb(242, 242, 243);
    font-family: AvenirNextLTProRegular;
}




















html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme='dark'] {
    --background-color: #131313;
    --text-color: #F7F8F8;
    --link-color: #828fff;
}

html[data-theme='dark'] body, #app {
    background: #131313;
}

html[data-theme='dark'] .header {
    background: #212121;
    border-bottom: 1px solid #292929;
}

html[data-theme='dark'] .header {
    background: #212121;
    border-bottom: 1px solid #292929;
}
html[data-theme='dark'] .header-nav-brand {
    color: #fff;
}
html[data-theme='dark'] .header-nav-search-input {
    color: #fff;
    background: #121212;
    border: 1px solid #121212;
}
html[data-theme='dark'] .header-nav-search-input:focus {
    background: #121212;
    border: 1px solid #555;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, .05);
}
html[data-theme='dark'] .header-nav-menu-item-icon, .header-nav-menu-item.menu-item-user {
    color: #e8e8e8;
}
html[data-theme='dark'] .header-nav-menu-item-icon:hover, .header-nav-menu-item.menu-item-user:hover {
    color: #e8e8e8;
    background: #343434;
    border: 1px solid #343434;
}
html[data-theme='dark'] .header-nav-modal-search {
    color: #d8d8d8;
    background: #212121;
}
html[data-theme='dark'] .header-nav-modal-search-input {
    background: #121212;
    border: 1px solid #121212;
}
html[data-theme='dark'] .header-nav-modal-search-input:focus {
    background: #121212;
    border: 1px solid #555;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, .05);
}

html[data-theme='dark'] .post, .post-sayhi, .post-create {
    background: #212121;
    border: 1px solid #292929;
}
html[data-theme='dark'] .post-header-user-info-name {
    color: #ddd;
}
html[data-theme='dark'] .post-header-handle-icon, .post-header-user-info-tagsname {
    color: #999;
}
html[data-theme='dark'] .post-header-handle-icon:hover {
    background: #343434;
}
html[data-theme='dark'] .post-content {
    color: #ddd;
}
html[data-theme='dark'] .post-action {
    border-top: 1px solid #292929;
}
html[data-theme='dark'] .post-action-item:nth-child(1):hover {
    background: rgba(218, 81, 124, 0.125);
}
html[data-theme='dark'] .post-action-item:nth-child(2):hover {
    background: rgba(81, 218, 150, 0.125);
}
html[data-theme='dark'] .post-action-item:nth-child(3):hover {
    background: rgba(81, 118, 218, 0.125);
}
html[data-theme='dark'] .post-action-item-icon {
    color: #777;
}
.post-action-item-count {
    color: #777;
}
.post-create-title {
    color: #ddd;
}
.post-create-header-editor {
    color: #fff;
    background: transparent;
    border: 1px solid transparent;
}
.post-create-header-editor:empty::before {
    color: #999;
}
.post-create-header-editor:focus {
    box-shadow: none;
    border: 1px solid transparent;
}
.post-create-action-handle-icon {
    color: #888;
}
.post-create-action-handle-icon:hover {
    color: #d8d8d8;
    background: #282828;
}
.post-sayhi-content-title {
    color: #ddd;
}
.post-sayhi-content-info {
    color: #999;
}
.post-comment {
    border-top: 1px solid #292929;
}
.post-comment-item-header-user-info-name {
    color: #e8e8e8;
}
.post-comment-item-header-user-info-tagsname {
    color: #999;
}
.post-comment-item-content {
    color: #ddd;
    background: #323232;
}
.post-comment-item-header-handle-icon {
    color: #999;
}
.post-comment-item-header-handle-icon:hover {
    background: #343434;
}
.area-box {
    background: #212121;
    border: 1px solid #292929;
}
.area-box-container-item:hover {
    background: #292929;
}
.area-box-title {
    color: #e8e8e8;
    border-bottom: 1px solid #313131;
}
.area-box-container-item-page-name, .area-box-container-item-group-name, .area-box-container-item-user-name {
    color: #e8e8e8;
}
.area-box-container-item-page-tagsname, .area-box-container-item-group-tagsname, .area-box-container-item-user-tagsname {
    color: #999;
}
.container-side-menu-item {
    color: #bfbfbf;
}
.container-side-menu-item-icon {
    color: #bfbfbf;
}
.container-side-menu-item:hover {
    background: #343434;
}
.container .container-modal-theme {
    background: #131313;
    border: 1px solid #212121;
}
.container .container-modal-theme-header {
    color: #e8e8e8;
}
.container .container-modal-theme-intro {
    color: #999;
}
.container .container-modal-theme-content-item {
    border-color: #212121;
}
.container .container-modal-theme-content-item.item-active {
    border-color: #4e4e4e;
}
.container .container-modal-theme-content-item-choose div {
    color: #999;
}
.container .container-modal-theme-handle .btn.btn-back {
    color: #777;
}
@media screen and (max-width: 768px) {
    .container.container-side-active .container-side {
        background: #212121;
        border-right: 1px solid #292929;
   }
    .container-side {
        background: #212121;
        border-right: 1px solid #292929;
   }
}