@font-face {
    font-family: AvenirNextLTProIt;
    src: url(./fonts/AvenirNextLTPro-It.otf);
}

@font-face {
    font-family: AvenirNextLTProRegular;
    src: url(./fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: AvenirNextLTProBold;
    src: url(./fonts/AvenirNextLTPro-Bold.otf);
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    --clr-light: #f2f2f2;
    --clr-light-100: #e8e8e8;
    --clr-light-200: #d2d2d2;
    --clr-light-300: #c2c2c2;
    --clr-light-400: #b2b2b2;
    --clr-light-500: #a2a2a2;
    --clr-black: #565656;
    --clr-black-100: #464646;
    --clr-black-200: #363636;
    --clr-black-300: #262626;
    --clr-black-400: #161616;
    --clr-black-500: #000000;
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
}

html[data-theme='dark'] {
    --background-color: #212a2e;
    --text-color: #F7F8F8;
    --link-color: #828fff;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1rem;
    line-height: 1.65;
    text-align: left;
    color: var(--clr-black-300);
    background: rgb(242, 242, 243);
    font-family: AvenirNextLTProRegular;
}